@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------

	All screens css

-------------------------*/
/*@media screen and (min-width : 482px) {*/

	body {
/*		width: 480px;*/
		font-size: 12pt;
		font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	}

	.landing {
		width: 100vw;
		height: 100vh;

		background-image: url(../images/Composition-VII-the-three-graces—Theo-van-Doesburg.svg);
		background-position: center;
		background-size: auto 100vh;

		display: flex;
		align-content: flex-end;
		justify-content: flex-end;
		align-items: flex-end;
	}

	a {
		text-decoration: none;
		color: hsla(0,0%,25%,0.75);
		padding-bottom: 1px;
		border-bottom: 0px solid hsla(0,0%,25%,1.00);
		transition: color 0.25s ease-out 0s, border-bottom 0.25s ease-out 0s;
	}

	a:hover {
	/*	text-decoration: underline;*/
		border-bottom: 1.5px solid hsla(0,0%,50%,1.00);
		color: hsla(0,0%,50%,1.00);
	}

	a:visited {
	/*	text-decoration: underline;*/
	/*	color: hsla(0,0%,75%,1.00)*/
	}

	h1 {
		color: hsla(40,27%,94%,1.00);

		font-weight: bold;
		font-size: 10vw;
		height: 10vw;
		transform: rotate(30deg);
	/*	border: 1px red solid;*/
		margin: 0 5vw 20vh 0;
		text-align: right;

		text-shadow: 0 0 5vmax hsla(210,15%,15%,0.5);
	}

	.navigation {
		width: 100vw;
		height: 7vh;

		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		margin-left: auto;
		margin-right: auto;

	/*	border: 1px red solid;*/
		z-index: 1;

		font-size: 3.25vw;
		background-color: hsla(47,28%,87%,1.00);

		display: flex;
		flex-wrap: nowrap;
	/*	justify-content: space-around;*/
		align-content: center;
		align-items: center;
	}

	.navigation-container {
		width: 100vw;
		height: 4vh;

		display: flex;
		justify-content: space-evenly;
		align-content: center;
		align-items: center;
		flex-wrap: nowrap;

	}

	.nav-li {
		width: 16%;
	/*	display: inline;*/
		text-align: center;
		font-weight: bold;

	/*	border: 1px red solid;*/
	}
	
	.nav-li:last-child {
		width: 20%;	
	}
	
	.nav-li:hover {

	}

	.nav-span {

	}

	.nav-span:hover {
	}
	
	main {
		display: flex;
		flex-direction: column;
	/*	flex-wrap: nowrap;*/
		justify-content: center;

	}

	.full-frame {
		width: 100%;
		height: auto;
		
		display: flex;
		flex-direction: column;
	}

	.picture-container {
		width: 100%;
		height: 50vh;
/*		border: 1px solid red;*/
		background-color: hsla(0,0%,100%,1.00);
		
		display: flex;
		justify-content: center;
		align-content: center;
/*		align-items: center;*/
	}
	
	.picture-container img {
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}
	
	article {
		width:100%
	}

	article p {
		padding: 20px;
		
		font-size: 11pt;
		line-height: 1.2;
	}

	footer {
		width:100%;
		margin: 0 auto;
		margin-bottom: 9vh;
		padding-left: 20px;
	}
	
	footer p {
		padding:10px 0;
	}
	
/*}*/
/*
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
 Smartphones (portrait and landscape) ----------- 

}
*/

@media screen and (min-width : 731px) {
/*and (max-device-width : 1024px) {*/
/* iPads (portrait and landscape) ----------- */
	
	.navigation {
		width: 731px;
		
		font-size: 14pt;	
	}
	
	.navigation-container {
		width: 100%;
		height: 4vh;
	}
	
	main {
		max-width: 731px;
		margin: 0 auto;
/*		background-color: aquamarine;*/
	}

	.full-frame {
		height: auto;
		
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	
	.full-frame:nth-child(even){
		flex-direction: row-reverse;
	}
	
	article {
		width: 482px;
		
	}
	
	article p {
		font-size: 12pt;
		padding: 20px 0;
	}
	
	.picture-container {
		width: 233px;
/*		height: auto;*/
/*		border: 1px solid red;*/
		background-color: hsla(0,0%,100%,1.00);
		
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
	}
	
	.picture-container img {
		width: 100%;
		height: auto;
	}
	
	footer {
		width:731px;
	}
}

@media screen and (min-width : 980px) {
/* Desktops and laptops ----------- */

	.navigation {
		width: 980px;
		
		font-size: 14pt;	
	}
	
	.navigation-container {
		width: 100%;
		height: 4vh;
	}
	
	main {
		max-width: 980px;
		margin: 0 auto;
/*		background-color: aquamarine;*/
	}

	.full-frame {
		height: auto;
		
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	
	.full-frame:nth-child(even){
		flex-direction: row-reverse;
	}
	
	article {
		width: 482px;
		
	}
	
	article p {
		font-size: 12pt;
		padding: 20px 0;
	}
	
	.picture-container {
		width: 482px;
/*		height: auto;*/
/*		border: 1px solid red;*/
		background-color: hsla(0,0%,100%,1.00);
		
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
	}
	
	.picture-container img {
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}
	
	footer {
		width:980px;
	}
}
