@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------

	All screens css

-------------------------*/

body {
	font-size: 12pt;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.landing {
	width: 100vw;
	height: 100vh;
	
	background-image: url(../images/Composition-VII-the-three-graces—Theo-van-Doesburg.svg);
	background-position: center;
	background-size: auto 100vh;
	
	display: flex;
	align-content: flex-end;
	justify-content: flex-end;
	align-items: flex-end;
}

a {
	text-decoration: none;
	color: hsla(0,0%,25%,0.75);
	padding-bottom: 1px;
	border-bottom: 0px solid hsla(0,0%,25%,1.00);
	transition: color 0.25s ease-out 0s, border-bottom 0.25s ease-out 0s;
}

a:hover {
/*	text-decoration: underline;*/
	border-bottom: 1.5px solid hsla(0,0%,50%,1.00);
	color: hsla(0,0%,50%,1.00);
}

a:visited {
/*	text-decoration: underline;*/
/*	color: hsla(0,0%,75%,1.00)*/
}

h1 {
	color: hsla(40,27%,94%,1.00);
	
	font-weight: bold;
	font-size: 10vw;
	height: 10vw;
	transform: rotate(30deg);
/*	border: 1px red solid;*/
	margin: 0 5vw 20vh 0;
	text-align: right;
	
	text-shadow: 0 0 5vmax hsla(210,15%,15%,0.5);
}

.navigation {
	width: 100vw;
	height: 8vmin;
	
	position: fixed;
	bottom: 0;
	right: 0;
	
/*	border: 1px red solid;*/
	z-index: 1;
	
	font-size: 3vmin;
	background-color: hsla(47,28%,87%,1.00);
	
	display: flex;
	flex-wrap: nowrap;
/*	justify-content: space-around;*/
	align-content: center;
	align-items: center;
}

.navigation-container {
	width: 100vw;
	height: 4vmin;
	
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
	flex-wrap: nowrap;
	
}

.nav-li {
	width: 16vw;
/*	display: inline;*/
	text-align: center;
	font-weight: bold;
	
/*	border: 1px red solid;*/
}

.nav-li:hover {
	
}

.nav-span {

}

.nav-span:hover {
}

/*
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
 Smartphones (portrait and landscape) ----------- 

}
*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* iPads (portrait and landscape) ----------- */

}
@media only screen 
and (min-width : 1200px) {
/* Desktops and laptops ----------- */

}
